{
  "root": true,
  "extends": [
    "@magister_zito/vue",
    "prettier"
  ],
  "overrides": [
		{
			"files": ["**/*.ts"],
			"parserOptions": {
				"project": [
          "./tsconfig.json",
          "./cypress/tsconfig.json"
        ]
			}
		}
  ]
}
